.*
/Builds/
/Library/
/Logs/
/obj/Debug/
/Temp/
/UIElementsSchema/
/UserSettings/
/ARL.sln
/ARL.sln.DotSettings.user
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Controllers.csproj
/Editor.csproj
/hidden_changes.conf
/ignore.conf
/Input.csproj
/JetBrains.Frontend.2021.2.csproj
/Keys.csproj
/Libs.csproj
/Models.csproj
/SettingObjects.csproj
/Views.csproj
